body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}

.sale-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 15px;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

td {
    border: 1px solid hsl(0, 8%, 53%);
    padding: 8px;
    text-align: left;
}

th {
    background: hsl(0, 8%, 53%);
    border: 1px solid hsl(0, 3%, 13%);
    text-align: center;
    padding: 10px;
}

.no-data {
    text-align: center;
    color: #888;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#confirmDeleteModal .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #504f4f;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-actions {
    text-align: right;
    margin-top: 20px;
}

.form-actions button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #ca9b54;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
.form-actions button.cancel-btn {
    background-color: #6b6969;
}
.form-actions button.delete-btn {
    background-color: #d54d4d;
}

.form-actions button.cancel-btn:hover {
    background-color: #353535;
}
.form-actions button.delete-btn:hover {
    background-color: #b73f3f;
}

/* CSS cho nút "Thêm khuyến mãi" */
#promotion-actions button {
    padding: 10px 20px;
    background-color: #ca9b54;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#promotion-actions button:hover {
    background-color: #9e783e;
}

/* CSS cho icon thao tác */
table td.actions {
    text-align: center;
}

table td.actions i {
    margin: 0 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.delete-btn {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-btn {
    background-color: #ca9b54;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #9e783e;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #ca9b54;
}