body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}
.cart-container {
    width: 100%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px ;
}
h1 {
    text-align: left;
    font-size: 24px;
    padding: 10px;
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 15px 20px;
    margin: 10px 20px;
}
.cart-item img {
    width: 120px;
    height: 120px;
    margin-right: 40px;
}
.cart-item i{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}
.cart-item i:hover{
    color: #c99747;
}

.cart-item p {
    padding: 5px 0;
    font-size: 16px;
}
.cart-item-info {
    flex-grow: 1;
}

.cart-item-controls {
    display: flex;
    align-items: center;
}
.cart-item-controls button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #ddd;
    margin: 0 5px;
}
.cart-item-controls button:hover {
    background-color: #bbb;
}
.cart-item-controls input {
    width: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px;
}
.cart-total {
    display: flex;
    justify-content: right;
    font-size: 18px;
    padding: 20px 5px;
}
.cart-total span {
    margin-right: 5px;
}
.total{
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    margin-right: 20px;
    gap: 10px;
}
.setbutton{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
#checkout-btn, #clear-cart-btn {
    width: 500px;
    padding: 10px;
    background-color:#c99747 ;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;
}
#checkout-btn:hover {
    background-color:#6d98dd;
    color: black;
}
#clear-cart-btn:hover{
    background-color: #bc4b47;
}
